# {{ ansible_managed }}
<VirtualHost *:{{ apache2_http_port }}>
{% if apache2_vhosts_ssl_engine %}
    ServerAdmin             {{ apache2_vhosts_server_admin }}
    ServerName              {{ apache2_vhosts_server_name }}
    Redirect                {{ apache2_vhosts_redirect }}
</VirtualHost>
<VirtualHost *:{{ apache2_https_port}}>
    SSLEngine               {{ apache2_vhosts_ssl_engine }}
    SSLCertificateFile      {{ apache2_vhosts_ssl_certificate_file }}
{%     if apache2_vhosts_ssl_certificate_key_file %}
    SSLCertificateKeyFile   {{ apache2_vhosts_ssl_certificate_key_file }}
{%     endif %}
{%     if apache2_vhosts_ssl_certificate_chain_file %}
    SSLCertificateChainFile {{ apache2_vhosts_ssl_certificate_chain_file }}
{%     endif %}
{% endif %}
    ServerAdmin             {{ apache2_vhosts_server_admin }}
    ServerName              {{ apache2_vhosts_server_name }}
{% for server_alias in apache2_vhosts_server_alias %}
    ServerAlias             {{ server_alias }}
{% endfor %}
    ErrorLog                {{ apache2_vhosts_error_log }}
    CustomLog               {{ apache2_vhosts_custom_log }}
    DocumentRoot            {{ apache2_vhosts_document_root }}
    <Directory {{ apache2_vhosts_document_root }}>
        AllowOverride All
        Require all granted
    </Directory>
    <IfModule mod_fastcgi.c>
        AddHandler php7.0-fcgi .php
        Action php7.0-fcgi /php7.0-fcgi
        Alias /php7.0-fcgi /usr/lib/cgi-bin/{{ apache2_vhosts_user }}-fcgi
        FastCgiExternalServer /usr/lib/cgi-bin/{{ apache2_vhosts_user }}-fcgi -socket /var/run/php/{{ apache2_vhosts_user }}.sock -pass-header Authorization
        <Directory /usr/lib/cgi-bin>
            Require all granted
        </Directory>
    </IfModule>
{% if apache2_vhosts_proxy_pass %}
    ProxyPass               {{ apache2_vhosts_proxy_pass }}
{% endif %}
{% if apache2_vhosts_proxy_pass_reverse %}
    ProxyPassReverse        {{ apache2_vhosts_proxy_pass_reverse }}
{% endif %}
{% if apache2_vhosts_proxy_via %}
    ProxyVia                {{ apache2_vhosts_proxy_via }}
{% endif %}
{% if apache2_vhosts_proxy_request and apache2_vhosts_proxy_preserve_host %}
    ProxyRequests           {{ apache2_vhosts_proxy_request }}
    ProxyPreserveHost       {{ apache2_vhosts_proxy_preserve_host }}
    <Proxy *>
        Require all granted
    </Proxy>
{% endif %}
</VirtualHost>
